@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('$lib/assets/fonts/space-grotesk-v15-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('$lib/assets/fonts/space-grotesk-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* @font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("$lib/assets/fonts/Helvetica Neue Black.ttf")
      format("ttf"),
} */

@font-face {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 900;
	src: local(''), url('$lib/assets/fonts/HelveticaNeue-BlackExtObl.ttf') format('ttf');
}

html {
	@apply font-helvetica dark:bg-black dark:text-white;
	font-weight: 950;
	font-style: italic;
	letter-spacing: 0px;
}
